# 파일 읽기

In [7]:
with open('abc/text.txt','w') as f:
    f.write('hello')

In [8]:
f = open('abc/text.txt', 'r')
f.read()
f.close()

In [9]:
with open('abc/11.txt',"w", encoding="utf-8" ) as f:
    f.write("hahah")

In [10]:
with open("abc/11.txt", "a", encoding="utf-8") as f:
    f.write("졸리지만 참을만합니다.\n")

In [11]:
with open("abc/11.txt", "r", encoding="utf-8") as f:
    txtfile = f.read()
    print(txtfile)

hahah졸리지만 참을만합니다.

In [12]:
with open('abc/11.txt', 'r', encoding='utf-8') as f:
    line = f.readline()
    print(line)

hahah졸리지만 참을만합니다.

In [13]:
with open("abc/11.txt", "r", encoding="utf-8") as file:
    while True:
        line = file.readline()
        if not line:
            break
        print(line.strip())

hahah졸리지만 참을만합니다.

In [14]:
with open("abc/11.txt", "r", encoding="utf-8") as file:
    lines = file.readlines()

for line in lines:
    print(line.strip())

hahah졸리지만 참을만합니다.

# 피클, 직렬화/역직렬화

In [15]:
import pickle

# 직렬화할 데이터
data = {
    'name': '홍길동',
    'age': 30,
    'scores': [90, 85, 88]
}

# 직렬화하여 파일에 저장
with open('abc/data.pickle', 'wb') as f:
    pickle.dump(data, f)

In [16]:
# 파일에서 역직렬화하여 읽기
with open('abc/data.pickle', 'rb') as f:
    loaded_data = pickle.load(f)

print(loaded_data)  # 원본 데이터가 그대로 복원됨

{'name': '홍길동', 'age': 30, 'scores': [90, 85, 88]}

In [17]:
import json

In [18]:
# 직렬화하여 파일에 저장
with open('abc/data.json', 'w') as f:
    json.dump(data, f, ensure_ascii=False)

In [19]:
with open('abc/data.json', 'r') as f:
    loaded_txt = json.load(f)

print(loaded_txt)

{'name': '홍길동', 'age': 30, 'scores': [90, 85, 88]}

In [20]:
import csv
data = [['name', 'age'], ['bob', 20], ['alice', 15]]
data

[['name', 'age'], ['bob', 20], ['alice', 15]]

In [21]:
with open('abc/data.csv', 'w') as f:
    wrt =csv.writer(f)
    wrt.writerows(data)

In [22]:
import pandas as pd

df=pd.DataFrame(data)
df.to_csv('abc/data_df.csv')

In [23]:
pd.read_csv('abc/data_df.csv')

   Unnamed: 0      0    1
0           0   name  age
1           1    bob   20
2           2  alice   15