# 람다 함수 문제

In [2]:
## 1.두 수를 입력 받아 그 곱을 반환하는 함수를 작성하세요.
#답을 작성하세요.
def multiply_numbers(a, b):
    return a*b
#테스트
print(multiply_numbers(3, 5))  #15

15

In [23]:
## 2. 숫자 리스트를 입력 받아 평균을 반환하는 함수를 작성하세요.
def calc_average(numbers):
    return (lambda nums: sum(nums) / 5 )(numbers)

# 테스트
print(calc_average([10, 20, 30, 40, 50]))  # 30.0

30.0

In [22]:
## 3. 주어진 숫자가 짝수이면 True, 홀수이면 False를 반환하는 함수를 작성하세요.
#답을 작성하세요.
def is_even(n):
    return(lambda num: num % 2 == 0)(n)
#람다버전

# 테스트
print(is_even(14))  # True
print(is_even(21))  # False

True
False

In [61]:
## 4. 주어진 리스트의 모든 요소를 문자열로 변환하여 반환하는 함수와, 람다 함수를 작성하세요.
#함수
def to_string_list(lst):
    result = [] #결과 누적
    #lst 요소를 하나씩 꺼내서 문자열로 변환 
    for item in lst :
        result.append( str(item))
    return result

to_string_list = lambda lst: list(map(str, lst)) #Lambda 이용
# 테스트
print(to_string_list([1, 2, 3, 4, 5]))  # ['1', '2', '3', '4', '5']

['1', '2', '3', '4', '5']

In [66]:
## 5. 두 문자열을 입력받아 합친 문자열을 반환하는 함수와 람다 함수를 작성하세요.
def concat_strings(s1, s2):
    return s1 + s2

concat_strings = lambda s1,s2 : s1 + s2 #lambda 이용
# 테스트
print(concat_strings("Hello, ", "World!"))  # "Hello, World!"

Hello, World!

In [71]:
## 6. 주어진 문자열에서 모든 모음(a,e,i,o,u)을 제거한 문자열을 반환하는 함수를 작성하세요.
#답을 작성하세요.
def remove_vowels(s):
    result = ''
    for ch in s :
        if ch not in 'aeiou':
            result += ch
    return result

remove_vowels2 = lambda s: ''.join([ ch for ch in s if ch not in 'aeiou']) # lambda쓰기
# 테스트
print(remove_vowels2("abcdefghijklmnopqrstuvwxyz"))  # "bcdfghjklmnpqrstvwxyz"

bcdfghjklmnpqrstvwxyz

In [74]:
## 7. 문자열을 입력 받아, 해당 문자열에서 가장 긴 단어와 길이를 반환하는 함수를 작성하세요.
#답을 작성하세요.
def find_longest_word(s):
    words = s.split()
    longest= words[0]
    max_len= len(longest)
    for w in words[1:] :
        if len(w) > max_len : 
            longest = w
            max_len = len(w)
            
    return longest, max_len

# 테스트
print(find_longest_word("Life is for one generation a good name is forever."))  # "generation", 10

('generation', 10)

In [85]:
## 7. 줄여쓰고 람다쓰기
def find_longest_world1(s):
    words = s.split()
    longest = max(words, key=len)
    return longest, len(longest)
find_longest_world2 = lambda s : max([(w, len(w)) for w in s.split() ],key=lambda x:x[1]) 
print(find_longest_world2("Life is for one generation a good name is forever."))

('generation', 10)

In [91]:
## 8. 주어진 문자열에서 숫자와 문자를 분리하는 함수를 작성하세요.
#답을 작성하세요.
def split_numbers_letters(s):
    # 1. 숫자를 담을 리스트, 문자를 담을 리스트를 만든다.
    numbers = []
    letters = []

    for ch in s:
        if ch.isdigit():
            numbers.append(int(ch))
        elif ch.isalpha():
            letters.append(str(ch))
    return numbers, letters
# 테스트
print(split_numbers_letters("a1b2c3d4")) # ["a", "b", "c", "d"], [1, 2, 3, 4]

([1, 2, 3, 4], ['a', 'b', 'c', 'd'])

In [97]:
# 줄여쓰기 
def split_numbers_letters1(s):
    numbers = [int(ch) for ch in s if ch.isdigit()]
    letters = [ ch for ch in s if ch.isalpha() ]

    return numbers, letters


#람다쓰기
def split_numbers_letters2(s):
    numbers = list(map( int, filter(lambda ch : ch.isdigit() ,s)))
    letters = list(filter(lambda ch: ch.isalpha(), s))
    return numbers, letters
# 테스트
print(split_numbers_letters2("a1b2c3d4")) # ["a", "b", "c", "d"], [1, 2, 3, 4]

([1, 2, 3, 4], ['a', 'b', 'c', 'd'])

In [99]:
## 9. 주어진 문자열(알파벳)을 입력 받아, 각 알파벳의 종류와 개수를 dict형으로 반환하는 함수를 만드세요.
def count_alphabets(s):
    count_dict={}

    for ch in s:
        if ch in count_dict:
            count_dict[ch] += 1
        else:
            count_dict[ch] = 1
    return count_dict

# 테스트
print(count_alphabets("hello"))  # {"h": 1, "e": 1, "l": 2, "o": "1"}

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

In [101]:
def count_alphabets1(s):
    #딕셔너리 컴프리헨션
    return { ch : s.count(ch) for ch in s }

# 함수 공부

In [40]:
# 리스트 컴프리헨션의 필터
numbers = [1,2,3,4,5]

[ x for x in numbers if x %2 == 0 ]

[2, 4]

In [42]:
# 필터함수

list(filter(lambda x: x%2 == 0 , numbers))

[2, 4]

In [44]:
# numbers를 2배하고, 그중에 짝수만 리스트로 리턴
list(filter(lambda x: x%2==0, map(lambda x: x*x , numbers)))

[4, 16]

In [49]:
# sorted 함수 

number = [3,1,5,4,7,8,6,9]
nums = sorted(number)
nums

[1, 3, 4, 5, 6, 7, 8, 9]

In [48]:
number

[3, 1, 5, 4, 7, 8, 6, 9]

In [50]:
numbers1 = [-3,1,5,-6,-8]
sorted(numbers1, key=abs) #code

[1, -3, 5, -6, -8]

In [51]:
words =['apple','banana','cerry','blueberry']
sorted(words)

['apple', 'banana', 'blueberry', 'cerry']

In [53]:
sorted(words, key=len, reverse=True)

['blueberry', 'banana', 'apple', 'cerry']

In [54]:
#마지막 글자의 순
sorted(words, key=lambda w : w[-1])

['banana', 'apple', 'cerry', 'blueberry']

In [56]:
#튜플의 요쇠 기준 정렬
data = [(1,4), (2,3), (3,2)]
sorted(data, key=lambda x:x[1])

[(3, 2), (2, 3), (1, 4)]

In [59]:
students =[("Alice" ,20, 85) , ("Bob" ,22 ,90) , ("Charlie", 21,78)]
print(sorted(students, key=lambda x:x[1], reverse=True)) # 나이 기준 정렬
print(sorted(students, key=lambda x:x[2], reverse=True)) # 점수순 정렬

[('Bob', 22, 90), ('Charlie', 21, 78), ('Alice', 20, 85)]
[('Bob', 22, 90), ('Alice', 20, 85), ('Charlie', 21, 78)]