# 튜플 (Tuple)
튜플은 여러 개의 값을 하나의 변수에 저장할 수 있는 자료형이다.
리스트와 비슷하지만, 생성된 후 값을 변경할 수 없는 불변자료이다.

In [1]:
# tuple의 ()괄호는 생략해도 된다
# 쉼표로 요소는 하나 이상이어야 한다
fruits = '사과','복숭아','딸기'
fruits , type(fruits)

(('사과', '복숭아', '딸기'), tuple)

In [6]:
# 패킹, 언패킹

nums = [1,2,3] #unpacking
a,b,c = nums
a, b, c

(1, 2, 3)

In [7]:
a

1

In [10]:
#s = 'hello' unpacking error
s='hi'
a,b =s
a

'h'

In [13]:
s='hello'  #packing
a,*b,c = s #unpacking *-rest      * is 나머지는 너가 다가져
a, b, c

('h', ['e', 'l', 'l'], 'o')

In [16]:
student = ('홍길동', 20, '1학년') #패킹
student

('홍길동', 20, '1학년')

In [18]:
name, age, grade =student #언패킹
f'이름은 {name}이고요, 나이는 {age} 이고요, {grade}학년입니다.'

'이름은 홍길동이고요, 나이는 20 이고요, 1학년학년입니다.'

In [31]:
# 미션 2개의 값을 바꿔보기
x=1
y=2
tmp = (y,x)
x,y = tmp
x, y

(2, 1)

In [45]:
x, y = y, x #tuple 의 패킹, 언패킹
x, y

(2, 1)

In [54]:
#함수의 정의
def func_a(a, b, c):
    print( a, b, c)
    return c, b, a
    
#함수의 호출
result = func_a(5, 4, 3)
#함수의 반환값
result

5 4 3

(3, 4, 5)

In [56]:
a1, b1, c1 = func_a(1,2,3)
a1, b1, c1

1 2 3

(3, 2, 1)

In [61]:
# tuple 에 값을 추가하려면?
# 형 변환 > 리스트
name_tuple = ('가연', '지훈', '지희')
name_tuple
name_list = list(name_tuple) 
name_list
name_list.append('유석')
name_list
name_tuple = tuple(name_list)
name_tuple

('가연', '지훈', '지희', '유석')

In [74]:
dir(name_tuple)
t1 = name_tuple
t2 = ('석훈',)
print(t1.__add__(t2))

('가연', '지훈', '지희', '유석', '석훈')

In [75]:
t1+t2

('가연', '지훈', '지희', '유석', '석훈')

In [78]:
t3=t1*2
t3[:3]

('가연', '지훈', '지희')

# 집합 
- set(),{}
- 중복이 안된다. 순서도 없다. 키도 없다.
- 속도가 빠르다. 해싱을 하는 자료형 (딕셔너리, 집합)

In [81]:
s = set([1,2,3])
s

{1, 2, 3}

In [82]:
s1 = {1,2,3}
s1

{1, 2, 3}

In [93]:
l2 = [1,2,3]
l2 =l2 * 2
l2

[1, 2, 3, 1, 2, 3]

In [95]:
# set으로 중복 제거한다.
s3 = set(l2)
s3

{1, 2, 3}

In [103]:
l3 = l2.append([4,5,6])
l2, type(l2)

([1,
  2,
  3,
  1,
  2,
  3,
  [4, 5, 6],
  [4, 5, 6],
  [4, 5, 6],
  [4, 5, 6],
  [4, 5, 6],
  [4, 5, 6]],
 list)

In [126]:
set(['hi',123]) #해시코드

{123, 'hi'}

In [106]:
hash(123)

123

In [110]:
#l1 = [1,2,3]
#hash(l1)

In [124]:
hash((1,2,3)) #set : 해싱불가능, 요소는 해싱가능해야한다.

529344067295497451

# set 집합 연산

- 교집합 &, intersection()
- 합집합 |, union()
- 차집합 -, difference()

In [117]:
s = set([1,2,3,4])
x = {2,3,4}
y = {3,4,5}

In [118]:
#교집합
x & y

{3, 4}

In [119]:
x.intersection(y)

{3, 4}

In [120]:
#합집합
x | y

{2, 3, 4, 5}

In [121]:
x.union(y)

{2, 3, 4, 5}

In [122]:
#차집합
x - y

{2}

In [123]:
x.difference(y)

{2}

# 복합자료형 연습문제

In [169]:
#1. 리스트 numbers가 다음과 같은 때, 첫 번쨰 원소와 마지막 원소의 합을 구하는 코드를 작성하세요
numbers = [10, 20,  30,  40,  50,  60, 70, 80, 90, 100]

#답
numbers_sum = numbers[0] + numbers[-1]
numbers_sum

110

In [132]:
#2. 리스트 colors가 다음과 같을 때, 첫 3개 원소와 마지막 2개 원소를 슬라이싱을 사용하여 출력하는 코드를 작성하세요.
colors = ["red", "green", "blue", "yellow", "purple", "orange", "black"]

#답
colors_sum = colors[:3] + colors[-2:]
print(colors_sum)

['red', 'green', 'blue', 'orange', 'black']

In [145]:
#3. 다음 리스트에서 "korean"이라는 문자열을 찾아 출력하는 코드를 작성하세요. - indexing
list_a = [
    [1, 2, 3],
    ["red", "green", "blue"],
    [False, "korean", True]
]

#답
list_a[2][1]

'korean'

In [147]:
#4. 리스트 list_a과 list_b가 다음과 같을 때, 두 리스트를 합쳐서 새로운 리스트 list_c를 만드는 코드를 작성하세요.

#답
list_a = [1,2,3]
list_b = [4,5,6]
list_c = list_a + list_b
list_c

[1, 2, 3, 4, 5, 6]

In [158]:
#5. 아래의 튜플 tuple_a에서 "banana"를 "blueberry"로 변경하는 코드를 작성하세요
tuple_a = ("apple", "banana", "cherry")

#답
list_a = list(tuple_a)
list_a.insert(1,'blueberry')
list_a.remove('banana')
list_a

['apple', 'blueberry', 'cherry']

In [163]:
#6.변수 a, b, c의 값을 사용하여 튜플 tuple_a를 생성하고 출력하는 코드를 작성하세요.

#답
a=5
b=10
c=15
tuple_a = ([a,b,c])
tuple_a

[5, 10, 15]

In [165]:
#7. 튜플 numbers가 주어졌을 때, 튜플의 최대값과 최소값을 출력하는 코드를 작성하세요.
numbers = (92, 89, 72, 31, 71, 33, 19)

#답
max_numbers = max(numbers)
min_numbers = min(numbers)
print(max_numbers)
print(min_numbers)

92
19

In [172]:
#8. dict 타입의 student(변수명)를 생성하고, 아래의 키-값 쌍을 추가하는 코드를 작성하세요.
name = "Alice"
age = 24
major = "Computer Science"

#답
student = {}
student["name"] = "Alice"
student["age"] = 24
student["major"] = "Computer Science"
student

{'name': 'Alice', 'age': 24, 'major': 'Computer Science'}

In [174]:
#9. 위에서 생성한 student에서, 모든 키와 값을 출력하는 코드를 작성하세요

#답
for k, v in student.items():
    print(f'{k}:{v}')

name:Alice
age:24
major:Computer Science

In [176]:
#10. 위에서 생성한 student에서, age(나이)를 26으로 변경하세요.

#답
student['age']=26
student

{'name': 'Alice', 'age': 26, 'major': 'Computer Science'}

In [177]:
#11. 다음 딕셔너리 students에서 name의 값을 리스트(name_list)로, age의 값을 튜플(age_tuple) 만드는 코드를 작성하세요
students = {
    "student1": {"name": "Alice", "age": 24},
    "student2": {"name": "Bob", "age": 22},
    "student3": {"name": "Charlie", "age": 23}
}

#답
name_list = []
age_list = []
for key in students.keys():
    stu = students[key]
    name_list.append(stu['name'])
    age_list.append(stu['age'])

age_tuple = tuple(age_list)
name_list, age_tuple

(['Alice', 'Bob', 'Charlie'], (24, 22, 23))