# 함수 
- 인자 = 매개변수, 입력, 피라미터
- 반환값 = 리턴값, 결과값
- 함수이름

- 함수 정의 > 호출

In [4]:
#define
def my_func():
    print('my first function')
    print('hello')
    print('good job')

In [5]:
#call
my_func()

my first function
hello
good job

In [6]:
type(my_func)

function

In [9]:
my_func_var = my_func()

my first function
hello
good job

In [15]:
# 리턴이 있는 경우
def my_func1():
    print('my first function')
    print('hello')
    print('good job')
    return 'hello'

In [14]:
my_func1()

my first function
hello
good job

'hello'

In [16]:
my_func_var2 = my_func1()

my first function
hello
good job

In [17]:
my_func_var2

'hello'

# 입력값이 있는 함수

In [19]:
def my_calc(x):
    print(f'{x}를 계산합니다.')

In [20]:
my_calc(10)

10를 계산합니다.

In [24]:
def my_calc1(x):
    print(f'{x}를 계산합니다.')
    z = x*20
    return z

In [23]:
result = my_calc1(20)
print(result)

20를 계산합니다.
400

In [25]:
def my_calc2(x,y):
    print(f'{x}와 {y}를 계산합니다.')
    add_result = x+y
    mul_result = x*y
    return add_result, mul_result

In [26]:
my_calc2(10,20)

10와 20를 계산합니다.

(30, 200)

In [33]:
#func_result = my_calc2(10,20)
#func_result[0] = 100

In [31]:
func_result1, f2 = my_calc2(10,20) #unpacking
func_result1

10와 20를 계산합니다.

30

In [30]:
f2

200

## 입력값의 타입: 수치형 vs. (리스트) 객체형

- 수치형 : 값에 의한 전달 call by value
- 객체형 : 값(참조)의 전달 call by reference

In [34]:
#리스트 매개변수의 실행
def my_calc3(a, lst1):
    a += 1
    lst1.append(a)
    return a

In [36]:
num =10 
lst_num = [1,2,'12']

print(f'before : {num}, {lst_num}')
my_calc3(num,lst_num )
print(f'after : {num}, {lst_num}')

before : 10, [1, 2, '12']
after : 10, [1, 2, '12', 11]

In [38]:
my_calc3(num,lst_num )

11

키워드 매개 변수 : 함수의 매개변수 목록은 변수명이 매개변수 명이다..
매개변수명을 이용한 호출은 매개변수의 순서와 무관하다.

In [41]:
my_calc3(lst1=lst_num, a=num, )

11

In [43]:
def greeting(name, greeting='hello'):
    print(f'{greeting}, {name}님!')

greeting('minsu', 'hello')

hello, minsu님!

In [45]:
greeting('alice', 'hi')

hi, alice님!

In [46]:
greeting('bob')

hello, bob님!

In [49]:
#가변인자
def sum_all( *args ):
    return sum(args)

In [48]:
sum_all(1,2,3,4,5)

15

In [58]:
def sum_all( arg1, arg2, *args ):
    print(args)
    result = arg1+ arg2 +sum(args)
    return result

In [59]:
sum_all(1,2,3,4,5)

(3, 4, 5)

15

In [ ]:
#매개변수의 순서가 중요

In [63]:
## **kargs
def print_info(**kwargs):
    for k,v in kwargs.items():
        print(f'{k},{v}')

In [62]:
print_info( name='hong', age=20, city = 'seoul', nick_name='bob')

name,hong
age,20
city,seoul
nick_name,bob

# 요일 구하는 함수
- 입력 :year, month, day
- 출력 : '월요일'
- 함수명 : 요일찾기()

In [82]:
#날짜 - 연,월,일 year = 2025, month = 06, day =05
year=int(input('연도를 입력해주세요'))
month=int(input('월을 입력해주세요(1~12)'))
day=int(input('일을 입력해주세요(1~31)'))
total_days = 0
#년도일수 입력한 연도의 -1 *365
#윤년인지 체크  : 29일 있는 것 ex)2월29일 

for i in range(1,year):
    #윤년 400으로 나누어 나머지가 0, 4로 나누어 나머지가 0
    #평년 100으로 나누어 나머지가 0
    if i%400 == 0:
        total_days += 366
    elif i%100 == 0:
        total_days += 365
    elif i%4 == 0:
        total_days += 366
    else:
        total_days +=365
print(total_days)
#월일수 입력한 월-1 * 30
#월별 일수 
month_days = [0,31,28,31,30,31,30,31,31,30,31,30,31]
for m in range(1,month):
    total_days += month_days[m]
#올해 윤년 체크
if month>=3:
    if year%400 == 0:
        total_days += 1
    elif year%100 == 0:
        total_days += 0
    elif year%4 == 0:
        total_days += 1
    else:
        total_days += 0
print(total_days)
#월수 입력한 일
total_days += day

print(total_days)
#요일 정하기
remain_days = total_days % 7

if remain_days == 1:
    print('월요일')
elif remain_days == 2:
    print('화요일')
elif remain_days == 3:
    print('수요일')
elif remain_days == 4:
    print('목요일')
elif remain_days == 5:
    print('금요일')
elif remain_days == 6:
    print('토요일')
elif remain_days == 7:
    print('일요일')

연도를 입력해주세요 2004
월을 입력해주세요(1~12) 06
일을 입력해주세요(1~31) 01

731580
731732
731733
화요일

In [101]:
def 윤년체크(year):
    윤년여부 = False
    if year%400 == 0:
        return  True
    elif year%100 == 0:
        return  False
    elif year%4 == 0:
        return  True
    else:
        return  False

In [103]:
윤년체크(2025)

False

In [104]:
def 요일찾기(year, month, day):
    week_day_name = '일요일'
    total_days = 0

    for i in range(1,year):

        if 윤년체크(i):
            total_days += 366
        else :
            total_days += 365

    #print(total_days)

    #월일수 입력한 월 -1 * 30
    #월별 일수
    month_days = [0,31,28,31,30,31,30,31,31,30,31,30,31]
    for m in range(1,month):
        total_days += month_days[m]

    #올해가 윤년인지
    if month>=3 :
        if 윤년체크(year):
            total_days += 1

    #print(total_days)

    #일수 입력한 일
    total_days += day

    #print(total_days)

    #요일정하기
    remain_days = total_days % 7

    day_names = ['일요일','월요일','화요일','수요일','목요일','금요일','토요일']
    week_day_name = day_names[remain_days]


    return week_day_name

In [ ]:
# 성적처리 시스템
- calc_total()
- calc_average()
- calc_order()

- print_student(students) : 전학생의 성적을 출력
- print_class() : 반평균, 각과목별 평균 출력

In [108]:
students = [
               {'num':'1','name':'김철수','kor':90,'eng':80,'math':85,'total':0,'avg':0.0,'order':0 },
               {'num':'2','name':'박제동','kor':90,'eng':85,'math':90,'total':0,'avg':0.0,'order':0 },
               {'num':'3','name':'홍길동','kor':80,'eng':80,'math':80,'total':0,'avg':0.0,'order':0 }
           ]

In [109]:
def calc_total(stus):
    for s in stus:
        s['total'] = s['kor'] + s['eng'] + s['math']

In [114]:
def calc_average(stus):
    for s in stus:
        s['avg'] = s['total']/3

In [127]:
def calc_order(stus):
    for s in stus :  #students[0] 자료를 꺼낸 것이 student
        rank = 1
        for other in stus :
            if other['total'] > s['total'] :
                rank += 1
        s['order'] = rank
    print(s['name'], s['order'])

In [133]:
def print_student(stus):
    for s in stus:
        print(f'{s['name']},kor {s['kor']}, eng {s['eng']},math {s['math']}')

In [157]:
def print_class(stus):
    class_total =0
    kor_avg=0
    math_avg=0
    eng_avg=0
    for s in stus:
        class_total += s['total']
        kor_avg +=s['kor']
        eng_avg +=s['eng']
        math_avg +=s['math']

    return print(f'반 평균{(class_total/3)/3 :.1f}, 과목별 평균, 국어{kor_avg/3 :.1f}, 영어{eng_avg/3 :.1f} ,수학 {math_avg/3 :.1f}')

In [158]:
print_class(students)

반 평균84.4, 과목별 평균, 국어86.7, 영어81.7 ,수학 85.0

# 연습

#관리프로그램 crud 처리
#1. 간식박스 생성 create
#2. 간식세트 포장 *2 update
#3. 간식박스 미리보기(3개만) read
#4. 간식삭제 delete
#5. 간식찾기 search
#6. 간식박스 전체보기 read
#7. 간식박스 요약 summary

-함수 도출 : 기능의 세분화, 함수를 정의
-함수 구현
-문제점

In [ ]:
#1. 간식박스 생성 create
def make_snack_box():
    snack_box = ['초코파이']
    new_snack = input('먹고싶은 간식을 추가하세요. 단, 쉼표로 연결하세요').split(',')
    snack_box += new_snack

    return snack_box

In [2]:
#2 간식세트 포장 *2 update
def multipy_snack_box(snack_box) :
    qty = int(input('간식박스 몇 세트를 포장할까요 숫자만 입력하세요'))
    return snack_box * qty

In [ ]:
# 6. 간식박스 전체 보기 read
def display_snack_box(snack_box):
    print(f'{snack_box}, 총 {len(snack_box)}개 입니다.')

In [ ]:
#3. 간식박스 미리보기(3개만) read
def preview_snack_box():
    preview = ','.join(snack_box[:3])
    print(f'선택하신 간식은 {preview}등입니다')

In [ ]:
#4. 간식삭제 delete
def remove_snack_box(snack_box):
    if not snack_box:
        print('간식박스가 존재하지 않습니다')
        return
    display_snack_box(snack_box)
    
    msg = f'혹시빼고싶은 간식이 있으면 번호를 입력하세요 (0~{len(snack_box)-1})'
    snack_no = int(input(msg))

    del snack_box[snack_no]
    return snack_box

In [ ]:
#5. 간식찾기 search
def search_snack_box(snack_box):
    search_snack = input('찾고싶은 간식을 입력하세요')
    print('존재합니다' if search_snack in snack_box else '존재하지 않습니다')

In [ ]:
#7. 간식박스 요약
def sumamarize_snacks(snack_box):
    summary = {}
    for snack in snack_box:
        summary[snack] = summary.get(snack,0)+1

    print('간식박스정리')
    for snack, qty in summary.items():
        print(f' - {snack} : {qty}개')

In [ ]:
box = make_snack_box()
print('간식박스가 만들어졌어요')
display_snack_box(box)
box = multipy_snack_box(box)
display_snack_box(box)
#검색후 삭제기능
search_snack_box(box)
remove_snack_box(box)
sumamarize_snacks(box)

## 메뉴 형식으로 구조를 개편

### 
선택, 반복
-- 기본 함수 정의

In [2]:
# -- 공통 유틸리티 함수
def get_valid_text_input(msg):
    user_input = input(msg).strip()
    if not user_input :
        print('입력값을 확인하세요')
        return None
    return user_input

#숫자검증
def get_valid_number_input(msg, min_no=1, max_no=5):
    #숫자체크
    try : 
        number = int(input(msg))
        if number < min_no :
            print(f'{min_no}이상 숫자를 입력하세요')
            return None
        elif number > max_no:
            print(f'{max_no}이하 숫자를 입력하세요')
            return None
        else:
            return number
    except ValueError:
        print('숫자로 입력하세요.')
        return None

In [3]:
#1. 간식박스 생성 create
def make_snack_box():
    snack_box = ['초코파이']
    make_msg = '먹고 싶은 간식을 추가하세요.  단, 쉼표(,)로 연결하세요'
    new_snack = get_valid_text_input(make_msg).split(',')
    snack_box += new_snack
    return snack_box

#2 간식세트 포장 *2 update
def multipy_snack_box(snack_box) :
    msg = '추가하시고 싶은 세트 수량을 입력하세요'
    qty = get_valid_number_input(msg, 1, 5)
    return snack_box * qty

#3. 간식박스 미리보기(3개만) read
def preview_snack_box(snack_box):
    preview = ','.join(snack_box[:3])
    print(f'선택하신 간식은 {preview}등입니다')

#4. 간식삭제 delete
def remove_snack_box(snack_box):
    if not snack_box:
        print('간식박스가 존재하지 않습니다')
        return
    display_snack_box(snack_box)
    
    msg = f'혹시빼고싶은 간식이 있으면 번호를 입력하세요 (0~{len(snack_box)-1})'
    snack_no = int(input(msg))

    del snack_box[snack_no]
    return snack_box

#5. 간식찾기 search
def search_snack_box(snack_box):
    search_snack = input('찾고싶은 간식을 입력하세요')
    print('존재합니다' if search_snack in snack_box else '존재하지 않습니다')

#6. 간식박스 전체 보기 read
def display_snack_box(snack_box):
    print(f'{snack_box}, 총 {len(snack_box)}개 입니다.')

#7. 간식박스 요약
def sumamarize_snacks(snack_box):
    summary = {}
    for snack in snack_box:
        summary[snack] = summary.get(snack,0)+1

    print('간식박스정리')
    for snack, qty in summary.items():
        print(f' - {snack} : {qty}개')

In [6]:
# 서비스의 흐름 - 선택과 반복
def run_menu_program():
    snack_box = []
    while True:
        print('간식박스 관리 프로그램 메뉴')
        print('1. 간식 박스 생성')
        print('2. 세트생성')
        print('3. 세트 미리보기')
        print('4. 간식 삭제')
        print('5. 간식 검색')
        print('6. 간식박스 전체보기')
        print('7. 간식박스 요약')

        choice = input('원하는 메뉴 번호를 입력하세요 : ')

        if choice == '1':
            snack_box = make_snack_box()
        elif choice == '2':
            snack_box = multipy_snack_box(snack_box)
        elif choice == '3':         
            preview_snack_box(snack_box)
        elif choice == '4':
            remove_snack_box(snack_box)
        elif choice == '5':
            search_snack_box(snack_box)
        elif choice == '6':
            display_snack_box(snack_box)
        elif choice == '7':
            sumamarize_snacks(snack_box)

In [5]:
run_menu_program()

간식박스 관리 프로그램 메뉴
1. 간식 박스 생성
2. 세트생성
3. 세트 미리보기
4. 간식 삭제
5. 간식 검색
6. 간식박스 전체보기
7. 간식박스 요약

원하는 메뉴 번호를 입력하세요 :  2
추가하시고 싶은 세트 수량을 입력하세요 7

5이하 숫자를 입력하세요

TypeError: can't multiply sequence by non-int of type 'NoneType'