# 예외의 종류
1. 문법오류 : SyntaxError , NameError, TypeError
2. 논리오류
3. 예외상황

### 문법 오류

In [2]:
while True             #syntax 오류 
    print('hello')

SyntaxError: expected ':' (1034960825.py, line 1)

In [3]:
4 + 2*am             #name 오류

NameError: name 'am' is not defined

In [4]:
2 + '2'              #type 오류

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# try : 
except

In [7]:
10/0 #ZeroDivisionError

ZeroDivisionError: division by zero

In [9]:
def devide(m, n):
    return m/n

In [10]:
result = devide(3,2)
result

1.5

In [11]:
result = devide(3,0)     #ZeroDivisionError
result

ZeroDivisionError: division by zero

In [34]:
def devide(m, n):
    try: 
        result = m/n
        return result
    except (ValueError,ZeroDivisionError):
        print('0으로 나눌 수 없습니다')
        return None
    except :                    #나머지 모든 에러 받기
        print('다른 에러가 발생했습니다.')
        return None
    finally:
        print('항상 실행되는 코드입니다.')

In [23]:
result = devide(3,0)     #ZeroDivisionError
result

0으로 나눌 수 없습니다

In [28]:
esult = devide(None,0)     #TypeError
result

다른 에러가 발생했습니다.

In [32]:
try:
    n = int("abc")
except ValueError:
    print("정수로 변환할 수 없습니다.")

정수로 변환할 수 없습니다.

In [35]:
divide(3,2,'a')

NameError: name 'divide' is not defined

In [37]:
raise TypeError('입력값 오류')       #에러 발생시키기

TypeError: 입력값 오류

In [38]:
try:
    raise TypeError('입력값 오류')
except TypeError as e:
    print(e.args)

('입력값 오류',)

# 내가 정의하는 예외

1. 예외 클래스 작성 : 각 예외상황에 맞는 메시지를 작성
2. 호출할 때 try: except로 받아줍니다

In [45]:
class AgeException(Exception):
    def __init__(self,msg):
        self._message = msg

def input_age():
    age = int(input('나이를 입력하세요 : '))

    if age < 0 :
        raise AgeException('나이는 양수입니다')
    elif age > 150:
        raise AgeException('기내스북에 올라가셨나요???')
    else:
        return age

In [47]:
try:
    age = input_age()
except AgeException as e:
    print(e.args[0])
else:
    print(f'입력하신 나이는 {age}입니다.')

나이를 입력하세요 :  190

기내스북에 올라가셨나요???